{#
/**
 * @file
 * Template for status messages.
 */
#}
{% set types = {
  status: 'success',
  warning: 'warning',
  error: 'danger',
  info: 'info',
} %}
<div role="region" class="my-4 space-y-2 inline-block" {{ attributes|without('role', 'aria-label') }}>
{% for type, messages in message_list %}
    {% embed '@sector_starter/alert/alert.twig' with {
      type: types[type],
    } %}
      {% block content %}
        {% if status_headings[type] %}
          <h2 class="sr-only">{{ status_headings[type] }}</h2>
        {% endif %}
        {% if messages|length > 1 %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{{ messages|first }}</p>
        {% endif %}
      {% endblock %}
    {% endembed %}
{% endfor %}
</div>
{{ attach_library('sector_starter/alert')}}
