{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Overrides bootstrap theme implementation.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - svg_logo_source: Svg logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  {% if site_logo or site_name or site_slogan %}

    <div class="promotion promotion--brand">
      {% if site_logo %}
        <div class="logo logo--primary">
          <a class="logo__link" href="{{ path('<front>') }}" rel="home">
          {% if svg_logo_source %}
            {{ svg_logo_source|raw }}
          {% else %}
            <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
          {% endif %}
          {% if site_name %}
            <span class="sr-only">
              {{ site_name }}
            </span>
          {% endif %}
          </a>
        </div>
        {% if site_slogan %}
          <h2 class="slogan">{{ site_slogan }}</h2>
        {% endif %}
      {% endif %}
    </div>

  {% endif %}
{% endblock %}
