{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-label="Breadcrumb">
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}" {% for attr, value in item.attributes %} {{ attr }}="{{ value }}" {% endfor %}>{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
