{#
/**
 * @file
 * Template for a Nav component.
 *
 * Available config:
 * - alignment: left | right | center | vertical.
 * - style: tabs | pills
 * - fill: fill | justify
 * - utility_classes: An array of utility classes.
 */
#}
{% import _self as menus %}

{% set nav_classes = [ 'menu' ]|merge(utility_classes ? utility_classes : []) %}

{% if items %}
  <ul class="navigation__sub-menu" id="{{ id }}">
    {% if render_submenu_toggle %}
     <li{{ item.attributes.addClass('menu__item','menu__item--parent', item.in_active_trail ? 'menu__item--active-trail') }}>
        {{ parent_item }}
      </li>
    {% endif %}
    {% block items %}
      {% for item in items %}
        {% set nav_item_classes = [
            'menu__item',
            'menu__item--level-' ~ (menu_level + 1),
            item.in_active_trail ? 'menu__item--active-trail',
            item.below ? 'menu__item--has-children',
        ] %}
        {% set nav_link_classes = ['menu__link'] %}
        {% set aria_id = (item.title ~ '-submenu-' ~ loop.index )|clean_id %}
        {% set aria_current = item.in_active_trail and not item.is_expanded ? 'page' : null %}
        {% if item.url.options.attributes.class is iterable %}
          {% set nav_link_classes = nav_link_classes|merge(item.url.options.attributes.class) %}
        {% elseif item.url.options.attributes.class %}
          {% set nav_link_classes = nav_link_classes|merge([item.url.options.attributes.class]) %}
        {% endif %}
        <li{{ item.attributes.addClass(nav_item_classes) }}>
          {% if item.is_expanded and item.below %}
            {% if render_submenu_toggle %}
            <button type="button" aria-expanded="false" class="menu__toggle" aria-controls="{{ aria_id }}">
              {{ item.title }}
              <span class="material-symbols-sharp" aria-hidden="true">expand_more</span>
            </button>
            {% endif %}

            {{ link(item.title, item.url, { 'class': nav_link_classes|merge(['menu__toggle-link']), 'aria-current': aria_current }) }}

            {% if item.below %}
              {% include '@sector_base/nav/subnav.twig' with {
                id: aria_id,
                utility_classes: [ 'menu__menu', 'hidden' ],
                items: item.below,
                menu_level: menu_level + 1,
                sub_parent_item: link(item.title, item.url, { 'class': ['menu__link']}),
              } %}
            {% endif %}
          {% else %}
            {{ link(item.title, item.url, { 'class': nav_link_classes }) }}
          {% endif %}
        </li>
      {% endfor %}
    {% endblock %}
  </ul>
  {% if libraries %}
    {% for library in libraries %}
      {{ attach_library(library) }}
    {% endfor %}
  {% endif %}
{% endif %}
