{#
/**
 * @file
 * Default theme implementation to display a mmenu.
 *
 * Add missing <li> wrapper (line XX) as fails validation otherwise.
 *
 */
#}
<nav id="{{ id }}" class="mmenu-nav clearfix">
  <ul>
    {% for block in blocks %}
      {% if block.collapsed %}
        <li class="mmenu-collapsed">
        {% if block.subject is not empty %}
          <span class="mmenu-block-collapsed mmenu-block"><i class="{{ block.icon_class }}"></i><span class="mmenu-block-title">{{ block.subject }}</span></span>
        {% endif %}
        {% if block.wrap %}
          <ul><li class="mmenu-block-wrap"><span>{{ block.content }}</span></li></ul>
        {% else %}
          {{ block.content }}
        {% endif %}
        </li>
      {% else %}
        {% if block.subject is not empty %}
          <li class="mmenu-expanded">
          <span class="mmenu-block-expanded mmenu-block"><i class="mmenu-block-icon mmenu-block-icon-{{ block.module }}-{{ block.delta }}"></i><span class="mmenu-block-title">{{ block.subject }}</span></span>
          </li>
        {% endif %}
        {% if block.wrap %}
          <ul><li class="mmenu-block-wrap"><span>{{ block.content }}</span></li></ul>
        {% else %}
          <li>
            {{ block.content }}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
