{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 * - media_title: CUSTOM VARIABLE - Set in preprocess breadcrumb. If there is a
 *   media node on screen, replace the breadcrump with the media node name
 *   rather than using the file name as is the default behaviour
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-label="Breadcrumb">
    <ol class="breadcrumb">
      {% for item in breadcrumb %}
        <li {{ item.attributes }}>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% elseif media_title %}
            {{ media_title }}
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
