{% set attributes = create_attribute() %}
<ul {{ attributes.addClass(['entity-moderation-form']|merge(utility_classes ? utility_classes : []))}}>
  <li>{{ form.current }}</li>
  <li>{{ form.new_state }}</li>
  <li>{{ form.revision_log }}</li>
  <li class="p-4 flex items-center h-16 self-end">{{ form.submit }}</li>
</ul>
{{ form|without('current', 'new_state', 'revision_log', 'submit') }}
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}
