{#
/**
 * @file
 * Template for the main page.
 */
#}
{% set page_classes = [
  'py-5'
]|merge(page_utility_classes ? page_utility_classes : []) %}

{%
set layout_classes = [
'page',
'canvas',
page.isPublishedClass,
  (page.content_prefix|render|striptags('<drupal-render-placeholder>')|trim is not empty) ? 'page--has-content-prefix' : '',
  (page.content_suffix|render|striptags('<drupal-render-placeholder>')|trim is not empty) ? 'page--has-content-suffix' : ''
]
%}

<div {{ content_attributes.addClass(layout_classes) }}>

    {% if page.notices %}
      <div class="page_notices">
        <div class="page__container">
          {{ page.notices }}
        </div>
      </div>
    {% endif %}

    {% if page.header_pre %}
      <div class="page__header-pre">
        <div class="page__container">
          {{ page.header_pre }}
        </div>
      </div>
    {% endif %}
    {% if page.header %}
      <header class="page__header">
        <div class="page__container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}
    {% if page.header_post %}
      <div class="page__header-post">
        <div class="page__container">
          {{ page.header_post }}
        </div>
      </div>
    {% endif %}
    {% if page.search %}
      <div class="page__search">
        <div class="page__container">
          {{ page.search }}
        </div>
      </div>
    {% endif %}
    {% if page.navigation %}
      <div class="page__navigation">
        <div class="page__container">
          {{ page.navigation }}
        </div>
      </div>
    {% endif %}

    {% if page.hero_pre %}
      <div class="page__hero-pre">
        <div class="page__container">
          {{ page.hero_pre }}
        </div>
      </div>
    {% endif %}
    {% if page.hero %}
      <div class="page__hero">
        <div class="page__container">
          {{ page.hero }}
        </div>
      </div>
    {% endif %}
    {% if page.hero_post %}
      <div class="page__hero-post">
        <div class="page__container">
          {{ page.hero_post }}
        </div>
      </div>
    {% endif %}

    {% if page.help %}
      <div class="page__help">
        <div class="page__container">
          {{ page.help }}
        </div>
      </div>
    {% endif %}

  <div class="zone zone--content">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.content_pre %}
      <div class="page__content-pre">
        <div class="page__container">
          {{ page.content_pre }}
        </div>
      </div>
    {% endif %}

    {% if page.content %}
      <main class="page__content">
        <div class="page__container">
          {{ page.content }}
        </div>
      </main>
    {% endif %}

    {% if page.content_prefix %}
      <aside role="complementary" class="page__content-prefix">
        <div class="page__container">
          {{ page.content_prefix }}
        </div>
      </aside>
    {% endif %}

    {% if page.content_suffix %}
      <aside role="complementary" class="page__content-suffix">
        <div class="page__container">
          {{ page.content_suffix }}
        </div>
      </aside>
    {% endif %}


    {% if page.content_post %}
      <div class="page__content-post">
        <div class="page__container">
          {{ page.content_post }}
        </div>
      </div>
    {% endif %}
  </div>

  {% if page.footer_pre %}
    <div class="page__footer-pre">
      <div class="page__container">
        {{ page.footer_pre }}
      </div>
    </footer>
  {% endif %}
  {% if page.footer %}
    <footer class="page__footer">
      <div class="page__container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
  {% if page.footer_post %}
    <footer class="page__footer-post">
      <div class="page__container">
        {{ page.footer_post }}
      </div>
    </footer>
  {% endif %}
</div>