{#
/**
 * @file
 * Template for the main page.
 */
#}
{% set page_classes = [
  'py-5'
]|merge(page_utility_classes ? page_utility_classes : []) %}

{%
set layout_classes = [
  'page',
  'canvas',
  page.isPublishedClass,
  (page.content_prefix|render|striptags('<drupal-render-placeholder>')|trim is not empty) ? 'page--has-content-prefix' : '',
  (page.content_suffix|render|striptags('<drupal-render-placeholder>')|trim is not empty) ? 'page--has-content-suffix' : ''
]
%}

<div {{ content_attributes.addClass(layout_classes) }}>

    {% if page.notices %}
      <div class="region region--notices notices">
        <div class="region__container">
          {{ page.notices }}
        </div>
      </div>
    {% endif %}

    {% if page.header_pre %}
      <div class="region region--header header-pre">
        <div class="region__container">
          {{ page.header_pre }}
        </div>
      </div>
    {% endif %}
    {% if page.header %}
      <header class="region region--header header" role="banner">
        <div class="region__container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}
    {% if page.header_post %}
      <div class="region region--header header-post">
        <div class="region__container">
          {{ page.header_post }}
        </div>
      </div>
    {% endif %}

    {% if page.hero_pre %}
      <div class="region region--hero hero-pre">
        <div class="region__container">
          {{ page.hero_pre }}
        </div>
      </div>
    {% endif %}
    {% if page.hero %}
      <div class="region region--hero hero">
        <div class="region__container">
          {{ page.hero }}
        </div>
      </div>
    {% endif %}
    {% if page.hero_post %}
      <div class="region region--hero hero-post">
        <div class="region__container">
          {{ page.hero_post }}
        </div>
      </div>
    {% endif %}

    {% if page.help %}
      <div class="region help">
        <div class="region__container">
          {{ page.help }}
        </div>
      </div>
    {% endif %}

    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.content_pre %}
      <div class="region region--content content-pre">
        <div class="region__container">
          {{ page.content_pre }}
        </div>
      </div>
    {% endif %}

    {% if page.content %}
      <main class="region region--content content">
        <div class="region__container">
          {{ page.content }}
        </div>
      </main>
    {% endif %}

    {% if page.content_prefix %}
      <aside role="complementary" class="region region--content content-prefix">
        <div class="region__container">
          {{ page.content_prefix }}
        </div>
      </aside>
    {% endif %}

    {% if page.content_suffix %}
      <aside role="complementary" class="region region--content content-suffix">
        <div class="region__container">
          {{ page.content_suffix }}
        </div>
      </aside>
    {% endif %}


    {% if page.content_post %}
      <div class="region region--content content-post">
        <div class="region__container">
          {{ page.content_post }}
        </div>
      </div>
    {% endif %}

  {% if page.footer_pre %}
    <div class="region region--footer footer-pre">
      <div class="region__container">
        {{ page.footer_pre }}
      </div>
    </footer>
  {% endif %}
  {% if page.footer %}
    <footer class="region region--footer footer" aria-labelledby="footer-heading">
      <h2 id="footer-heading" class="sr-only">Footer</h2>
      <div class="region__container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
  {% if page.footer_post %}
    <div class="region region--footer footer-post">
      <div class="region__container">
        {{ page.footer_post }}
      </div>
    </div>
  {% endif %}
</div>