{#
/**
 * @file
 * Template for a Breadcrumb component.
 *
 * Available config:
 * - utility_classes: An array of utility classes.
 */
#}
{% if breadcrumb %}
  <nav aria-label="breadcrumb" class="{{ utility_classes|join(' ') }}">
    <ol class="breadcrumb__list flex flex-wrap items-center">
      {% for item in breadcrumb %}
        <li class="breadcrumb__item {{ not item.url ? 'active' }}">
          <span aria-hidden="true" class="material-symbols-sharp">chevron_right</span>
          {% if item.url %}
            <a class="breadcrumb__link md:truncate" {% for attr, value in item.attributes %} {{ attr }}="{{ value }}" {% endfor %} href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}
