{#
/**
 * @file
 * Template for a Nav component.
 *
 * Available config:
 * - alignment: left | right | center | vertical.
 * - style: tabs | pills
 * - fill: fill | justify
 * - utility_classes: An array of utility classes.
 */
#}
{% import _self as menus %}

{% set nav_classes = [ 'menu']|merge(utility_classes ? utility_classes : []) %}

{% if items %}
  <ul{{ attributes.addClass(nav_classes) }}>
    {% block items %}
      {% for item in items %}
        {% set nav_item_classes = [
          'menu__item',
          item.in_active_trail ? 'active',
          item.is_expanded and item.below ? 'dropdown'
        ] %}
        {% set nav_link_classes = ['menu__link'] %}
        {% set aria_current = item.is_expanded and item.below ? 'page' : null %}
        {% if item.url.options.attributes.class is iterable %}
          {% set nav_link_classes = nav_link_classes|merge(item.url.options.attributes.class) %}
        {% elseif item.url.options.attributes.class %}
          {% set nav_link_classes = nav_link_classes|merge([item.url.options.attributes.class]) %}
        {% endif %}
        <li{{ item.attributes.addClass(nav_item_classes) }}>
          {% if item.is_expanded and item.below %}
            <button type="button" aria-expanded="false" class="menu__toggle" aria-controls="{{ 'menu-controls-' ~ item.title|clean_class }}">
              {{ item.title }}
              <span class="material-symbols-sharp" aria-hidden="true">expand_more</span>
            </button>
            {{ link(item.title, item.url, { 'class': nav_link_classes|merge(['menu__toggle']), 'aria-current': aria_current }) }}
            {% if item.below %}
              {% include '@sector_base/dropdown/dropdown-menu.twig' with {
                id: 'menu-controls-' ~ item.title|clean_class,
                items: item.below
              } %}
            {% endif %}
          {% else %}
            {{ link(item.title, item.url, { 'class': nav_link_classes }) }}
          {% endif %}
        </li>
      {% endfor %}
    {% endblock %}
  </ul>
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}
{% endif %}