{#
/**
 * @file
 * Overrides default (core) theme override for comment fields.
 *
 * Add classes to headings for aesthetic reasons
 *
 */
#}
<section{{ attributes }}>
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    <h2 class="has-margin-top-double has-padding-top-base has-heading-alternate has-border-top-large"{{ title_attributes }}>{{ label }}</h2>
    {{ title_suffix }}
  {% endif %}

  {{ comments }}

  {% if comment_form %}
    <h3 class="has-margin-top-double has-heading-alternate"{{ content_attributes }}>{{ 'Add new comment'|t }}</h3>
    {{ comment_form }}
  {% endif %}

</section>
